# Dependencias
node_modules/
jspm_packages/
typings/

# Variables de entorno
.env
.env.test
.env.production
*.env

# Logs de errores
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Carpeta de compilación
dist/
build/
out/

# IDEs y Editores
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Cobertura de tests
coverage/
.nyc_output/

# Otros
.cache/